/*
 * Form Elements
 * Global styling for form elements
 */

button:not(.unstyled),
.button:not(.unstyled),
input:not(.unstyled),
textarea:not(.unstyled),
select:not(.unstyled) {
  /* UI font styles */
  font-family: var(--ui-font-family);
  font-size: var(--ui-font-size);
  font-weight: var(--ui-font-weight);
  text-transform: var(--ui-text-transform);
  letter-spacing: var(--ui-letter-spacing);
  line-height: var(--ui-line-height);
  color: var(--ui-color);

  inline-size: 100%;
  transition: all var(--speed);
  border: var(--border);
  border-radius: var(--button-border-radius);
  background: var(--button-background);
  padding: var(--ui-padding-block) var(--ui-padding-inline);
  user-select: none;
  display: flex;
  block-size: var(--form-item-height);

  &:-internal-autofill-selected {
    background: inherit;
    background-image: none !important;
  }

  &:is(:hover, :active, :focus, .active) {
    outline-color: transparent;
    outline-style: dashed;
    border-color: var(--button-border-color-highlight);
    background: var(--button-background-highlight);
  }

  &::placeholder,
  &::-ms-input-placeholder {
    text-transform: var(--ui-text-transform);
    color: var(--ui-placeholder-color);
    opacity: 1;
  }

  &.small {
    padding: calc(var(--ui-padding-block) / 2) calc(var(--ui-padding-inline) / 2);
    block-size: var(--form-item-height-sm);
  }
}

input:not(.unstyled),
textarea:not(.unstyled) {
  text-transform: var(--input-text-transform);
}

select:not(.unstyled),
select:not(.unstyled):is(:hover, :active, :focus, .active) {
  appearance: none;
  line-height: 1;
  background:
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLWNoZXZyb24tZG93biI+PHBvbHlsaW5lIHBvaW50cz0iNiA5IDEyIDE1IDE4IDkiPjwvcG9seWxpbmU+PC9zdmc+),
    var(--button-background);
  background-repeat: no-repeat, no-repeat;
  background-position:
    calc(100% - var(--size-4)) 50%,
    0% 0%;
  background-size:
    var(--size-4),
    100% 100%;
  padding-inline-end: var(--size-7) !important;

  &.small {
    background-position:
      calc(100% - var(--size-2)) 50%,
      0% 0%;
  }
}

input[type='checkbox'] {
  block-size: var(--size-4);
  margin-right: var(--spacer-sm);
}

form {
  display: grid;
  gap: var(--spacer);
}

form label,
label.form-label {
  /* UI font styles */
  font-family: var(--ui-font-family);
  font-size: var(--ui-font-size);
  font-weight: var(--ui-font-weight);
  text-transform: var(--ui-text-transform);
  letter-spacing: var(--ui-letter-spacing);
  line-height: var(--ui-line-height);
  color: var(--ui-color);

  transition: all var(--speed);
  display: grid;
  gap: var(--size-2);

  &:hover {
    color: var(--color);
  }

  a {
    text-decoration: underline;
  }

  > span:first-child {
    display: block;
  }
}

label:has(> input[type='checkbox']) {
  display: flex;
  align-items: center;

  > * {
    inline-size: auto;
  }
}
