:root {
  --border-width: 1px;
  --border-radius: var(--size-2);
  --border-radius-lg: var(--size-3);

  /* Border colors */
  --border-color: var(--gray-z-2);
  --border-color-highlight: var(--gray-z-3);
  --border-color-dark: var(--color);
  --border-color-light: var(--color);

  /* Border shorthand */
  --border: var(--border-width) solid var(--border-color);
  --border-dark: var(--border-width) solid var(--border-color-dark);

  /* Border effects */
  --border-shadow: 0 0 0 var(--border-width) var(--border-color);
  --border-shadow-highlight: 0 0 0 var(--border-width)
    var(--border-color-highlight);
}
