:root {
  /* UI typography */
  --ui-font-family: var(--font-family);
  --ui-font-size: 13px;
  --ui-font-weight: 400;
  --ui-text-transform: uppercase;
  --ui-letter-spacing: var(--letter-spacing);
  --ui-line-height: var(--line-height);
  --input-text-transform: none;

  /* UI colors */
  --ui-color: var(--primary);
  --ui-placeholder-color: var(--gray-z-5);
  --ui-color-visited: var(--primary);

  /* UI spacing (logical property naming) */
  --ui-padding-block: var(--spacer-sm);
  --ui-padding-inline: var(--spacer);
}
