:root {
  --form-item-height: calc(var(--size-4) + var(--ui-padding-block) * 2 + var(--border-width) * 2);
  --form-item-height-sm: calc(var(--size-4) + var(--ui-padding-block) + var(--border-width) * 2);
  --input-text-transform: none;
}
