/*
 * Tags Component
 * Tag list and individual tag styling
 */

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer-sm);

  .tag {
    border: var(--border);
    font-family: var(--ui-font-family);
    font-size: var(--font-sm);
    font-weight: var(--ui-font-weight);
    text-transform: var(--ui-text-transform);
    letter-spacing: var(--ui-letter-spacing);
    line-height: var(--ui-line-height);
    color: var(--ui-color);
    display: flex;
    align-items: center;

    span {
      padding: var(--spacer-xs) var(--spacer-sm);

      + button {
        margin-inline-start: calc(-1 * var(--spacer-xs));
      }
    }
  }
}
