:root {
  --vp-c-brand-1: #111111;
  --vp-c-brand-2: #343434;
  --vp-c-brand-3: #696969;
  --vp-c-brand-soft: rgba(17, 17, 17, 0.08);
  --vp-home-hero-name-color: #111111;
  --vp-code-tab-divider: var(--vp-c-divider);
}

.dark {
  --vp-c-brand-1: #f5f5f5;
  --vp-c-brand-2: #d4d4d4;
  --vp-c-brand-3: #a3a3a3;
  --vp-c-brand-soft: rgba(245, 245, 245, 0.1);
  --vp-home-hero-name-color: #f5f5f5;
}

.vp-doc table {
  display: table;
  width: 100%;
}

.vp-doc th,
.vp-doc td {
  vertical-align: top;
}
