:root {
  --color-picker-area-height: 10rem;
  --color-picker-thumb-size: var(--slider-thumb-size);
  --color-picker-thumb-background: var(--white);
  --color-picker-track-size: var(--slider-track-size);
  --color-picker-track-radius: var(--slider-track-radius);
  --color-picker-checkerboard: var(--gray-z-3);
}

.color-picker-popover {
  --popover-min-width: 24rem;
  --popover-width: 24rem;
}
