:root {
  --toast-width: 22rem;
  --toast-padding: var(--spacer-sm);
  --toast-gap: var(--spacer-sm);
  --toast-border-radius: var(--border-radius-lg);

  /* top-left: 0 auto auto 0 */
  /* top-right: 0 0 auto auto */
  /* bottom-left: auto auto 0 0 */
  /* bottom-right: auto 0 0 auto (default) */
  --toast-inset: auto 0 0 auto;

  --toast-info-color: var(--color);
  --toast-info-background: var(--card-background);
  --toast-info-border-color: var(--border-color);

  --toast-success-color: var(--color);
  --toast-success-background: var(--card-background);
  --toast-success-border-color: var(--success);

  --toast-error-color: var(--color);
  --toast-error-background: var(--card-background);
  --toast-error-border-color: var(--error);
}
